.App {
  text-align: center;
}


.flexContainer {
  background-color: #282c34;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100%;
  max-width: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: calc(10px + 2vmin);
  flex: 1 1 auto;
  overflow: hidden;
  /* border: 5px solid red; */
  
}

.flexRowChild {
  border: .5px solid black;
  background-color: white;
  display: flex;
  flex-direction: row;
  min-height: 16vh;
  max-width: 20vh;
  position: relative;
  z-index: 3;
  
 
}

.flexColChild {
  border: .5px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 16vh;
  max-width: 20vw;
  

}

.flexGrandChild {
  border: .1px solid black;
  min-width: 10vh;
  min-height:7.8vh;
}

.flexColGrandChild {
  border: .1px solid black;
  min-width: 9.8vh;
  min-height:8vh;
}


